<div class="container">

  <h1><%= @restaurant.name %></h1>
  <h5 class="font-italic"><%= @restaurant.category %> food</h5>
  <br>
  <p>Address: <%= @restaurant.address %></p>
  <p>Phone number: <%= @restaurant.phone_number %></p>

  <h4>Reviews:</h4>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="review"><%= review.content %><br><%= review.rating %><em> stars</em></li>
    <% end %>
  </ul>

  <h4>Leave a review:</h4>
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-info" %>
  <% end %>
</div>
